*.log
*.pid
*.seed
*.pid.lock
lib-cov
coverage
node_modules/
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.DS_Store
.idea/
*.iml
common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/
packages/*/dist
